<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Responsive design</title>
  </head>
  <body>

<!-- nav -->

  <%-include('./partials/navbar.ejs') %>

 <!-- header -->
    <header>
      <div class="header-content">
        <h1>Capturing Moments, Sharing Stories</h1>
        <p>
          Explore, Engage, Evolve: Your Journey Begins Here
        </p>
        <a href="#">
          <span>Create New Post</span>
        </a>
      </div>
    </header>

 <!-- Latest post title -->

    <div class="latest-post-title">
      <!-- Icon -->
      <div class="icon">
        <i class="fas fa-book-open"></i>
      </div>
      <h1>Latest Posts (20)</h1>
      <p>
      </p>
    </div>


